########################
    node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs

script

node_modules

npm-debug.log

sample

########################
    misc / editors
########################
*~
*#
.DS_STORE
.netbeans
nbproject
.idea
recycle-bin
